<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="{{ is_rtl(app.request.locale) ? 'rtl' : 'ltr' }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>{% block title %}TomTroc{% endblock %}</title>

    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    <link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    
</head>

<body id="{% block body_id %}{% endblock %}" class="tomtroc-theme bg-light text-dark {{ is_rtl(app.request.locale) ? 'rtl' }}">

    {% block header %}
        {% set _route = app.request.attributes.get('_route') %}
        <header>
            <nav class="navbar navbar-expand-lg " style="background-color: #F5F3EF;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('homepage', {'_locale': app.request.locale}) }}">
                        <img src="{{ asset('images/logo.svg') }}" alt="TomTroc Logo" width="30" height="30" class="d-inline-block align-text-top">
                        TomTroc
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link {{ _route == 'blog_index' ? 'active' }}" href="{{ path('homepage') }}">
                                    <i class="bi bi-house-door"></i> Accueil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ _route == 'book_exchange_index' ? 'active' }}" href="{{ path('book_exchange_index') }}">
                                    <i class="bi bi-book"></i> Nos livres à l’échange
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {{ _route == 'messagerie' ? 'active' }}" href="{{ path('messagerie') }}">
                                    <i class="bi bi-chat-dots"></i> Messagerie
                                </a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            {% if app.user %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-person-circle"></i> {{ app.user.fullname }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('user_edit') }}">
                                                <i class="bi bi-person-lines-fill"></i> Mon compte
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ logout_path() }}">
                                                <i class="bi bi-box-arrow-right"></i> Déconnexion
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {{ _route == 'app_login' ? 'active' }}" href="{{ path('app_login') }}">
                                        <i class="bi bi-box-arrow-in-right"></i> Connexion
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admin_post_index') }}">
                                        <i class="bi bi-lock-fill"></i> Admin
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}

    <main class="container-fluid px-0 py-0 " >
        <div class="row">
            <div id="main" class="">
                {{ include('default/_flash_messages.html.twig') }}
                {% block main %}{% endblock %}
            </div>
            <div class="col-sm-3">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </main>

    {% block footer %}
        <footer class="py-4 mt-5" style="background-color: #FFFFFF;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-muted">
                        <p>&copy; {{ 'now'|date('Y') }} - TomTroc</p>
                        <p>{{ 'mit_license'|trans }}</p>
                    </div>
                    <div class="col-md-6 text-end">
                        <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/symfony" title="Symfony on X">
                            <twig:ux:icon name="tabler:brand-x" font-size="28px" />
                        </a>
                        <a target="_blank" href="https://symfony.com/blog/" title="Symfony Blog">
                            <twig:ux:icon name="tabler:rss" font-size="28px" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            tooltipTriggerList.forEach(t => new bootstrap.Tooltip(t));
        </script>
    {% endblock %}
</body>
</html>
